<script type="text/javascript">

    function handleEnableDisable(itemId) {
        var currentValue = parseInt($('#id_qty_${itemId}').val());
        var minusDisabled = currentValue < 2;
        var plusDisabled = currentValue > 98;
        $('#decrement-qty_${itemId}').prop('disabled', minusDisabled);
        $('#increment-qty_${itemId}').prop('disabled', plusDisabled);
    
    }

//increment quantity
    $('.increment-qty').click(function(e) {
        e.preventDefault();
        var closestInput = $(this).closest('.input-group').find('.qty_input')[0];
        var currentValue = parseInt($(closestInput).val());
        $(closestInput).val(currentValue + 1);
    });
//decrement quantity
    $('.decrement-qty').click(function(e) {
        e.preventDefault();
        var closestInput = $(this).closest('.input-group').find('.qty_input')[0];
        var currentValue = parseInt($(closestInput).val());
        $(closestInput).val(currentValue - 1);
    });
</script>